<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Email</th>
            <th scope="col">Coordenadas</th>
            <th scope="col">Fecha [yy/mm/dd]</th>
            <th scope="col">Hora</th>
        </tr>
    </thead>

    <tbody *ngFor="let notif of notify;let i = index">
        <tr>
            <th scope="row">{{i+1}}</th>
            <td>{{usuario.nombre}}</td>
            <td>{{usuario.email}}</td>
            <td>Latitud: {{notif.lat}}, Longitud: {{notif.long}} <button (click)="localizarNotify(usuario._id,notif.lat,notif.long)" class="btn btn-success col-md-2">Localizar</button></td>
            <td>{{notif.fecha.slice(0,10)}}</td>
            <td>{{notif.fecha.slice(11,19)}}</td>
        </tr>
    </tbody>
</table>