<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
        <input #entrada (keyup)="buscarUsuario()" class="form-control mr-sm-2" type="search" placeholder="Buscar Usuario" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar Usuario</button>
    </form>
</nav>


<div class="container mt-2 pb-5">
    <div class="card-deck">

        <div class="card" *ngFor="let usuario of listaUsuariosFiltro">
            <ng-template #imgGoogle>
                <img class="card-img-top img-fluid" src="{{usuario.img}}" alt="{{usuario.nombre}}">
            </ng-template>
            <ng-template #imgNormal>
                <img class="card-img-top img-fluid" src="{{stringApi}}/{{usuario.img}}" alt="{{usuario.nombre}}">
            </ng-template>
            <div *ngIf="usuario.img.indexOf('https://')>=0;then imgGoogle;else imgNormal"></div>
            <!--<img class="card-img-top img-fluid" src={{usuario.img}} alt="Card image cap">-->
            <div class="card-body">
                <h5 class="card-title">{{usuario.nombre}}</h5>
                <p class="card-text">id: <small>{{usuario._id}}</small></p>
                <p class="card-text">Correo: <small>{{usuario.email}}</small> </p>
                <p class="card-text">Rol: <small>{{usuario.tipo}}</small> </p>
                <p class="card-text">Estado: <small id="rojo" *ngIf="!usuario.activo">Offline</small> <small id="verde" *ngIf="usuario.activo">Online</small> </p>
                <!--<p class="card-text">Registrado por google: {{usuario.google}}</p>-->
                <button (click)="editarUsuario(usuario._id)" class="btn btn-secondary col-md-6">Editar</button>
                <button (click)="eliminarUsuario(usuario._id)" class="btn btn-danger col-md-6">Eliminar</button>
                <button (click)="localizarUsuario(usuario._id)" class="btn btn-success col-md-12">Localizar</button>
                <button (click)="observarInfracciones(usuario._id)" class="btn btn-warning col-md-12">Infracciones</button>
            </div>
        </div>

    </div>
</div>