<nav class="navbar navbar-expand-lg navbar-primary bg-primary">
    <a class="navbar-brand text-light" href="#">Bienvenido {{usuario}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link text-light" routerLink="mapa">Mapa <span class="sr-only">(current)</span></a>
            </li>
            <!--<li class="nav-item">
                <a class="nav-link text-light" href="#">Solicitudes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="#">Historial</a>
            </li>-->
            <li class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Administración
          </a>
                <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" routerLink="cuentas">Cuentas</a>
                    <a class="dropdown-item" routerLink="dash">Configuraciones</a>
                    <a class="dropdown-item" href="#">Historial</a>
                </div>
            </li>
            <li class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Mi Cuenta
          </a>
                <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item curs-point" (click)="miCuenta()">Editar</a>
                    <a class="dropdown-item curs-point" (click)="cerrarSession()">Cerrar Sesión</a>
                </div>
            </li>
        </ul>
    </div>
</nav>